@import "tailwindcss";

@theme {
  --color-primary: #39b15b;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-poppins: "Poppins", sans-serif;
  --color-primaryText: #262626;
  --color-primaryParagraph: #313131;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #39b15b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
